<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home" class="ion-activatable ripple-parent">
			<ion-icon name="home"></ion-icon>
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
		</ion-tab-button>

		<ion-tab-button tab="ebook" class="ion-activatable ripple-parent">
			<ion-icon name="book-outline"></ion-icon>
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
		</ion-tab-button>

		<ion-tab-button tab="profile" class="ion-activatable ripple-parent">
			<ion-icon name="fast-food-outline"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>