<ion-content [fullscreen]="true">
	<ng-container *ngFor="let video of videos; let i = index">
		<ng-container *ngIf="i <= max">
			<div style="width: 100%; height: 35%; margin-top: 10px;">
				<iframe width="100%" height="100%" [src]="transform('https://www.youtube.com/embed/'+video['id']['videoId'])" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</ng-container>
	</ng-container>
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="max != videos.length">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Carregando mais videos...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>