$primary-color: #F24777;

div#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-label.title {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        color: $primary-color;
        text-align: left;
        margin-left: 24px;
        margin-bottom: 12px;
    }

    > div {
        width: 100%;
    }

    div.welcome {
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 100%;
            max-height: 100%;
        }

        .welcome-titles {
            display: block;
            margin: -12px 42px 0;
            text-align: left;
            font-family: Helvetica, sans-serif;

            h3 {
                font-size: 20px;
                line-height: 26px;
                color: $primary-color;
                font-weight: bold;
                max-width: 152px;
                margin-bottom: 12px;
            }

            p {
                color: #444444;
                text-align: left;
                font-size: 15px;
                line-height: 20px;
                max-width: 312px;
            }
        }
    }

    div.recent-videos {
        margin: 24px 0 0;
        width: 100%;
        height: 100%;

        ::ng-deep ion-slides div.swiper-wrapper{
            padding-bottom: 10px;
            padding-left: 18px;
        }
        ion-slide {
            border-radius: 24px;
            div.video-card {
                border-radius: 15px;
                height: 100%;
                position: relative;
                box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.2);
                .title-video {
                    background: rgb(166,166,166);
                    background: linear-gradient(0deg, rgba(166,166,166,1) 0%, rgba(255, 255, 255, 0) 29%);
                    position: absolute;
                    bottom: 2%;
                    left: 2%;
                    font-size: 12px;
                    line-height: 17px;
                    color: #fff;
                    display: block;
                    text-align: center;
                }
    
                img.thumbnail {
                    border-radius: 15px;
                }
                &.recent{
                    width: 100%;
                }
            }
            &.btn-more{
                display: inline-block;
                height: 95%;
                width: 95px !important;
                margin: auto 25px;
                top: 0;
                padding-right: 15px;
                .row{
                    height: 100%;
                    display: flex;
                    .more-container{
                        height: fit-content;
                        margin: auto;
                        ion-icon{
                            font-size: 40px;
                            display: block;
                            color: #f24777;
                        }
                        span{
                            text-align: center;
                            display: block;
                            color: #f24777;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    div.events {
        margin: 32px 0;
        padding: 0 18px;
        width: 100%;
        max-height: 100%;

        .title {
            margin-left: 26px;
        }

        div.event-card {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.2);

            div.header-card {
                height: 120px;
                overflow: hidden;

                img {
                    z-index: -1;
                    display: block;
                    width: 100%;
                    max-height: 220px;
                    border-radius: 15px;
                }
            }

            div.main-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 26px;
                background-color: #fff;

                ion-label.event-title {
                    color: #444444;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                }

                ion-button {
                    width: 130px;
                    --background: #F24777;

                    ion-label {
                        font-weight: bold;
                        text-transform: none;
                    }
                }
            }

            div.footer-card {
                padding: 0px 26px 14px;

                ion-label {
                    display: block;
                    color: #ADADAD;
                    font-size: 12px;
                    margin-bottom: 4px;
                }
            }
        }
    }

    div.event-videos {
        @extend .recent-videos;
        margin: 12px 0;

        .title {
            margin-left: 26px;
        }
    }

    div.portal {
        .title {
            margin-left: 44px;
        }

        position: relative;
        margin: 42px 0 0;
        height: 300px;
        max-height: 100%;
        background: url('../../assets/img/bg4.png') no-repeat center center;
        background-size: cover;

        ion-button {
            position: absolute;
            bottom: 30%;
            left: 13%;
            width: 180px;
            height: 32px;
            --border-color: #fff;
            --background: #FFF;
            color: $primary-color;

            ion-label {
                font-size: 13px;
                text-transform: none;
                font-weight: bold;
            }
        }
    }

    div.ebook {
        @extend .portal;
        background: url('../../assets/img/bg5.png') no-repeat center center;
        background-size: contain;

        ion-label.title {
            margin-bottom: unset;
            margin-left: 46px;
        }

        ion-button {
            left: 40%;
            bottom: 25%;
        }
    }

    footer {
        margin: 28px 0 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-color;

        ion-label {
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
        }

        span {
            font-size: 12px;
        }
    }
}